*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
}
.menu_container{
    height: 80px;
    background-color: aqua;
    display: flex;
}
.menu_container>*{
    height: 80%;
    width: 31%;
    border-right: 2p solid black;
}
.formatting_container{
    /* height: 80%; */
    /* width:300px; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}
.subgroup{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 45%;
    height: 100%;
}

.subgroup>*{
    width: 100%;
}
.font_family{
    width:100%;
}
.bui_container{
    display: flex;
    justify-content: space-between;
}
.bui_container>*{
    width: 30%;
}
#font_size{
    width:100%;
}
.colour_container{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}
.colour_container>*{
    width: 45%;
}
.alignment_container{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.alignment_container>*{
    width: 25%;
}

/* ******************************************** */
/* formula bar css */
.formula_container{
    height: 30px;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.address_box{
    width:10%;
}
/* .separator{
    width: 2%;
} */
.formula_box{
    width: 80%;
}




/* ******************************************** */
/* adding and toggling sheets, sheet bar ui */

.sheets{
    
    background-color: rgb(184, 197, 184);
    height: 50px;
    display:flex;
}
 .add_sheet_container{
    height: 80%;
    min-width:40px;
    /* border: 0.1rem solid red; */
    

    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
} 
.icon{
    font-size: 1.2rem;
    color:rgb(5, 184, 5);
    
}
.sheets_list{
    /*mychange*/
    overflow: auto;
    height: 80%;
    /* width:100%; */
    /* margin-left: 1rem; */
    display: flex;
    padding-top: 10px;

}
.sheet{
    /* border: 1px solid red; */
    /* border-left: 1px solid gray; */
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    /*mychange*/
    min-width: 90px;
    /* overflow-y: scroll; */
}
.active_sheet{
    background-color: aliceblue;
}



/************************ grid container css *************************************/
.top_left_box{
    height: 30px;
    width: 25px;
    background-color: gray;
    /* margin: 0; */
}
.top_row{
    /* margin: 0; */
    width: 100%;
    height: 30px;
    background-color: lightgreen;
    position: absolute;
    display: flex;
    top: 110px;
    left: 25px
    /* top:110px */
}
.col{
    min-width: 80px;
    border-right: 1px solid gray;
    max-width:80px;
    border: 1px solid;
    min-height: 30px;
}
.left_col{
    width: 25px;
}
.left_col_box{
    height:30px;
    width: 26px;
    border:1px solid black ;
    background-color: lightgreen;
    text-align: center;
    padding-top:5px;
}








.grid_container{
    height: calc( 100vh - ( 80px + 30px + 50px ));
}