*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
}
.menu_container{
    height: 80px;
    background-color: aqua;
}
.formula_container{
    height: 30px;
    background-color: lightblue;
}
.grid{
    height: calc( 100vh - ( 80px + 30px + 50px ));
}
.sheets{
    background-color: rgb(184, 197, 184);
    height: 50px;
    display:flex;
}
.add_sheet_container{
    height: 100%;
    width:40px;
    /* border: 0.1rem solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 1.2rem;
    color:rgb(5, 184, 5)
}
.sheets_list{
    height: 100%;
    /* width:150px; */
    display: flex;
}
.sheet{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.active_sheet{
    background-color: aliceblue;
}